// 1 esquema de color
$white: #fff;
$snow: #FAFAFA;
$silver: #A0A0A0;


// 2 esquema colores
$jellybean: #E56353;
$salmon: #E97F72;
$pastelpink: #F0A9A1;

//3 esquema colores
$granitegray: #686963;
$taupegray: #91918D;
$gray: #BABAB8;

//tipografia
$raleway: 'Raleway', sans-serif;

//peso fuentes
$bold: 700;
$regular: 400;
$extra-light: 200;

//tamaño fuente
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;
